<div class="footer-container">
    <div class="footer-content-container">
        <div class="d-flex align-items-center w-100 footer">
            <p class="mat-subheading-1 mb-0 poppins-font pointer" routerLink="/privacy-policy">Privacy</p>
            <p class="mat-subheading-1 mb-0 poppins-font pointer"  routerLink="/terms-and-conditions" style="margin: 0 0.5rem;">Terms</p>
            <p class="mat-subheading-1 mb-0 poppins-font pointer"  routerLink="/disclaimer">Disclaimer</p>
        </div>
        
        <mat-divider></mat-divider>
        
        <div class="footer bottom-footer w-100">
            <p class="mat-subheading-1 text-center mb-0 poppins-font">Wave &#169; 2021 | All rights reserved</p>
            <p class="mat-subheading-1 text-center mb-0 marginTop poppins-font">Supported in India</p>
        </div>
    </div>
</div>