<div class="main-content-container" [style.min-height]="'calc(100% - '+footerHeight+')'">
    <img style="padding-top: 24px; margin: 0 auto; display: block;" routerLink="/" class="pointer"  width="80px" [src]="wave_long_logo_url">

    <section class="activation-content-section mt-5">
        <mat-icon class="hero-symbol">privacy_tip</mat-icon>

        <p class="mat-title mb-0 mt-5 text-center hero-content poppins-font">
            Activation Link is invalid. If you are copy pasting the link, make sure you past the characters as it is. 
        </p>
    </section>
</div>

<app-footer #footer></app-footer>