<div class="main-content-container" [style.min-height]="'calc(100% - '+footerHeight+')'">
    <img style="padding-top: 24px; margin: 0 auto; display: block;" routerLink="/" class="pointer"  width="80px" [src]="wave_long_logo_url">

    <section class="activation-content-section mt-5">
        <img class="hero-image" [src]="account_deleted_url">

        <p class="mat-display-2 mb-0 mt-4 text-center poppins-font">
            <strong>Thank You</strong>
        </p>

        <p class="mat-title mb-0 mt-2 mb-2 hero-content text-center poppins-font">
            If this is our last goodbyes, we want to take this moment to thank you for giving Wave a shot. 
            We wish you sweet luck for all the exciting turns your life will take in the future.
        </p>
    </section>
</div>

<app-footer #footer></app-footer>